<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>

</head>
<body>
	<div id="app">
		<h1>{{ message }}</h1>
		<div>
			<input type="text" v-model="message">
		</div>
		<ul v-if="showTodos">
			<li v-for="(todo, index) in todos">
				<cmp v-bind:todo="todo"></cmp>
				<button v-on:click="removeTodo(index)">x</button>
			</li>
		</ul>
		<p>
			<h1>{{ showTodos ? 'show!' : 'not!' }}</h1>
			<input type="checkbox" v-model="showTodos">
		</p>
		<p>
			<input type="text" v-model="todoText" v-on:keyup.enter="createTodo">
		</p>
	</div>
	
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>	
</body>
</html>